<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>
  <h1> Home </h1>
  
  <h3> Sign Up </h3>
  <form id="test" action="/signup" method="POST">
    <p>id : <input type="text" name="id"> </p>
    <p>pw: <input type="password" name="password"> </p>
    <p><input type="submit" value="회원가입"></p>
  </form>
  <br></br>
  
  <h3> Sign In </h3>
  <form id="test" action="/login" method="POST">
    <p>id : <input type="text" name="id"> </p>
    <p>pw: <input type="password" name="password"> </p>
    <p><input type="submit" value="로그인"></p>
  </form>
</body>
</html>